@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-lg-12">
        <video autoplay loop id="bgvid" class="video-bg2">
            <source src="https://a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
        </video>
    </div>
</div>
<section id="portfolio">
    <div class="container">
        <div class="row text-center">
            <div class="intro-text">
                <span class="name">Social Currency</span>
                <span class="skills">Exchanging currency has never been this     AWESOME</span>
            </div>
            <div class="">
                <a href="/post/create" class="btn btn-primary">POST A REQUEST NOW !</a>
            </div>
        </div>
    </div>
</section>
